.itemsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 15px;
}

.itemCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #1c1917;
    border: #1e293b 1px solid;
    border-radius: 3px;
    color: azure;
}

.itemTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    width: 100px;
    height: auto;
}

.itemDesc {
    width: 80%;
}

body {
    background-color: #44403c;   
}
